<footer class="bg-primary text-white text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Dinton Blogs</h5>
  
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
            voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          
          <ul class="list-unstyled mb-0">
            <li>
              <a href="index.html" class="text-white nav-link">Home</a>
            </li>
            <li>
              <a href="bout.html" class="text-white nav-link">About Us</a>
            </li>
            <li>
              <a href="#!" class="text-white nav-link">Contact Us</a>
            </li>
            <li>
              <a href="login.html" class="text-white nav-link">Login</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
       
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright:
      <a class="text-white" href="https://twitter.com/home">DintonHarold</a>
    </div>
    <!-- Copyright -->
  </footer>